{% macro cube(dimen=200, bg="lime") %}
    {% if bg == "lime" %}
        {% set resolved_bg = "#D7FF7B" %}
    {% elseif bg == "purple" %}
        {% set resolved_bg = "#CD89FF" %}
    {% else %}
        {% set resolved_bg = bg %}
    {% endif %}
    
    <div style="position: relative; width: {{ dimen }}px; height: {{ dimen }}px;">
        <!-- Main colored front face -->
        <div class="front-face" style="
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: {{ resolved_bg }};
            border: 1px solid #000;
            z-index: 2;
        ">
            {% if caller %}
                {{ caller() }}
            {% endif %}
        </div>
        
        <!-- Top white face -->
        <div class="top-face" style="
            position: absolute;
            width: 100%;
            height: 30px;
            background-color: white;
            border: 1px solid #000;
            top: -30px;
            left: 0;
            transform: skewX(45deg);
            transform-origin: bottom left;
            z-index: 1;
        "></div>
        
        <!-- Left white face (was right face) -->
        <div class="left-face" style="
            position: absolute;
            width: 30px;
            height: 100%;
            background-color: white;
            border: 1px solid #000;
            top: 0;
            left: -30px;
            transform: skewY(45deg);
            transform-origin: top right;
            z-index: 1;
        "></div>
    </div>
{% endmacro %}