{% macro flatCard(bg="lime") %}
    {% if bg == "purple" %}
        {% set bg_class = "bg-pycon-purple" %}
    {% else %}
        {% set bg_class = "bg-pycon-lime" %}
    {% endif %}

    <div class="relative group w-full max-w-full border border-black {{ bg_class }} p-4">
        {{ caller() }}
    </div>
{% endmacro %}
