---
title: Job Board - Rules and Guildelines
description: PyCon India 2025 Job Board 
layout: base.njk
---

<div class="w-full h-auto bg-pycon-blue -mb-24 px-[6%] flex flex-col md:flex-row">
    <div class="pt-32 pb-8 md:pb-32 w-full lg:w-[70%]">
        <div class="black-han-sans-regular font-normal text-3xl md:text-5xl md:text-center text-[#FFFFFF] text-center lg:text-left">
            Job Board - Rules and Guidelines
        </div>
    </div>
    <div class="lg:w-[30%] w-[80%] lg:mt-60 flex items-center justify-center mx-auto">
        <img src="{{ env.baseUrl }}img/assets/notepad.svg" alt="Guide" class="w-[40%] lg:w-[60%] transition-transform duration-100" style="animation: floating 2s ease-in-out infinite;">
        <img src="{{ env.baseUrl }}img/assets/book-stars.svg" alt="Guide" class="w-[40%] lg:w-[60%] transition-transform duration-100" style="animation: floating 2s ease-in-out infinite;">
    </div>
</div>


<div class="main-container pt-16 md:pt-48 bg-lavender w-full h-auto px-[6%]">
    <div class="pb-40 md:pb-60 lg:pb-[20%] w-full text-justify lg:w-[70%]">
        <div class="text-md lg:text-xl font-light">
            <div class="pt-8">
                <p class="text-2xl font-bold flex items-center"><span><img src="{{ env.baseUrl }}img/assets/square-lime.svg" alt="Bullet Icon" class="w-5 mr-2"></span>Job Submission & Approval:</p>
                <ul class="list-none pt-4 space-y-4">
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-2">
                        <span>We do not impose any restrictions on the industry/technology of the submitted jobs. Any jobs that are helpful to the community are welcome.</span>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-2">
                        <span>After successful job submission, each job will undergo a verification process by the PyCon India 2025 team to ensure there are no spam postings.</span>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-2">
                        <span>The approval process may take approximately 2-3 hours.</span>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-2">
                        <span>Approved jobs will be made visible on the job board once they pass the verification process.</span>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span>Submissions that do not meet the guidelines may be rejected.</span>
                    </li>
                </ul>
            </div>

            <div class="pt-8">
                <p class="text-2xl font-bold flex items-center"><span><img src="{{ env.baseUrl }}img/assets/square-lime.svg" alt="Bullet Icon" class="w-5 mr-2"></span>Job Posts Order:</p>
                <ul class="list-none pt-4 space-y-4">
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-2">
                        <span>Job posts are sorted based on the timestamp they are submitted. The first job submitted will be visible first, followed by subsequent submissions in chronological order.</span>
                    </li>
                </ul>
            </div>

            <div class="pt-8">
                <p class="text-2xl font-bold flex items-center"><span><img src="{{ env.baseUrl }}img/assets/square-lime.svg" alt="Bullet Icon" class="w-5 mr-2"></span>Transparency:</p>
                <ul class="list-none pt-4 space-y-4">
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-2">
                        <span>After successful job submission, each job will undergo a verification process by the PyCon India 2025 team to ensure there are no spam postings.</span>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-2">
                        <span>Job seekers and companies are encouraged to communicate directly with each other for job-related inquiries, applications, and hiring decisions.</span>
                    </li>
                </ul>
            </div>

            <div class="pt-8">
                <p class="text-2xl font-bold flex items-center"><span><img src="{{ env.baseUrl }}img/assets/square-lime.svg" alt="Bullet Icon" class="w-5 mr-2"></span>Content Moderation:</p>
                <ul class="list-none pt-4 space-y-4">
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-2">
                        <span>PyCon India 2025 reserves the right to moderate and remove job posts that violate submission guidelines or community standards.</span>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-2">
                        <span>Users are encouraged to report any inappropriate content or issues with job posts for review to our team at <a href="mailto:contact@in.pycon.org" target="_blank" rel="noopener noreferrer" class="underline">contact@in.pycon.org</a>.</span>
                    </li>
                </ul>
            </div>

            <div class="pt-8">
                <p class="text-2xl font-bold flex items-center"><span><img src="{{ env.baseUrl }}img/assets/square-lime.svg" alt="Bullet Icon" class="w-5 mr-2"></span>Respect and Inclusivity:</p>
                <ul class="list-none pt-4 space-y-4">
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-2">
                        <span>Users are expected to maintain a respectful and inclusive environment when interacting with job listings or other users on the platform.</span>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-2">
                        <span>Any kind of disrespectful, discriminatory, or offensive behavior against any party will not be tolerated.</span>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-2">
                        <span>Please make sure to follow PyCon India's <a href="{{ env.baseUrl }}coc/guidelines" class="underline text-pycon-blue">Code of Conduct</a>.</span>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-2">
                        <span>If you feel unsafe during any of the interactions, or feel like someone is violating the rules, please <a href="{{ env.baseUrl }}coc/reporting" class="underline text-pycon-blue">report the incident to the CoC Workgroup</a>.</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
