---
title: DevSprint
description: | 
    PyCon India is a place for developers from across the country (and beyond) to get together and celebrate Python. But what good is a PyCon without getting your hands dirty writing some code? Hence, for all Open Source enthusiasts out there, the PyCon India team is happy to announce DevSprints @ PyCon India 2025.

layout: page.njk
iconset: laptop-coffee
---

{% from "components/flat-card.njk" import flatCard %}

<div>
    <div>
        <h1 class="text-3xl text-left md:text-4xl mb-4">What is a DevSprint?</h1>

        <p class="mt-4">
            During DevSprints, mentors/contributors of OSS projects guide participants through the end-to-end process of OSS contribution, right from setting up build environments, to developing and testing code, to submitting patches for bugs. 
            If you are stuck, mentors are all available to help you figure out issues and get you back up and running! From past experiences, we've seen a lot of people start off contributing to OSS through DevSprints and later go on to become regular contributors to various projects across the web.
        </p>
    </div>
    <div class="mt-20">
        <h1 class="text-3xl text-left md:text-4xl mb-4">When and Where?</h1>

        <p class="pt-6">DevSprints for this edition of PyCon India will be conducted at <span class="font-semibold">Google Office, Bengaluru, on September 15th, 2025 from 9 a.m. to 5 p.m.</span></p>
        
        <div class="w-full md:w-1/2">
            {% call flatCard(bg="lime") -%}
                <p class="text-2xl font-semibold mb-4">Venue:</p>
                <p class="text-xl font-medium mb-0">Google Bangalore—Kyoto Campus</p>
                <p class="mt-0">
                    Bagmane Capital Park, Kyoto West Tower, Dodanakundi Circle, Outer Ring Road, Marathahalli Post, Karnataka 560048, India
                </p>
                <p class="text-xl font-medium">
                    Location: <a class="font-light text-lg break-all" href="https://maps.app.goo.gl/G3Trcx3yGJN3he488">https://maps.app.goo.gl/G3Trcx3yGJN3he488</a>
                </p>
            {%- endcall %}
        </div>
    </div>
    <div class="mt-20">
        <h1 class="text-3xl text-left md:text-4xl mb-4">How to Participate?</h1>

        <p class="mt-4">
            Interested participants can fill up this form: <a href="https://forms.gle/LSZeuHfxkfqh2TNx8">Participation Form</a>
        </p>
    </div>
    <div class="mt-20">
        <h1 class="text-3xl text-left md:text-4xl mb-4">Submit a Project</h1>
        
        <p class="mt-4">
            If you are a contributor or have been involved in the maintenance of any Open Source project, please come forward and add your project. 
            This project can be any interesting Open source project which is based on Python. Ideally, you should have a history with the project through previous code commits. 
            Your responsibility will be to help your team set up their development environment, list out beginner-friendly bugs, and guide them on any problems they face during the event.
        </p>

        <p class="mt-4">
            A list of submitted devsprint proposal can be seen here: <a href="https://in.pycon.org/cfp/devsprint-2025/proposals/">Submitted DevSprint Proposals</a>
        </p>
    </div>
    <div class="mt-20">
        <h1 class="text-3xl text-left md:text-4xl mb-4">How to add a Project?</h1>
        
        <p class="mt-4">
            If you are a contributor or have been involved in the maintenance of any Open Source project, please come forward and add your project. 
            This project can be any interesting Open source project which is based on Python. Ideally, you should have a history with the project through previous code commits. 
            Your responsibility will be to help your team set up their development environment, list out beginner-friendly bugs, and guide them on any problems they face during the event.
        </p>

        <p class="mt-4">
            You can propose the project using <a href="https://in.pycon.org/cfp/devsprint-2025/proposals/">CFP platform - Junction</a>.
        </p>
    </div>
</div>