---
title: FAQ's - PyCon India 2025
description: PyCon India 2025 FAQ's 
layout: base.njk
---

{% from "components/dropdown.njk" import renderDropdown %}

<div class="w-full h-auto bg-pycon-blue px-[6%] -mb-16 md:mb-0 flex flex-col md:flex-row">
    <div class="pt-32 pb-8 md:pb-32 w-full lg:w-[70%]">
        <div class="black-han-sans-regular font-normal text-3xl md:text-5xl md:text-center text-[#FFFFFF] text-center lg:text-left">
            Frequently Asked Questions
        </div>
        <div class="text-md lg:text-xl pt-20 text-[#FFFFFF] lg:pr-10 text-justify">
            <p class="font-bold text-3xl text-center md:text-left">What is PyCon India?</p>
            <p>PyCon India is the annual gathering of Pythonistas, run by the Indian Python community, to foster the adoption of the Python programming language. PyCon India 2025, will take place in Bengaluru, between 12 Sept - 15 Sept. This will be the 16th edition of the conference.</p>
        </div>
    </div>
    <div class="lg:w-[30%] w-[80%] lg:mt-30 flex items-center justify-center mx-auto">
        <img src="{{ env.baseUrl }}img/assets/question-mark.svg" alt="Guide" class="w-[80%] transition-transform duration-100" style="animation: floating 2s ease-in-out infinite;">
    </div>
</div>


<div class="main-container pt-16 md:pt-12 bg-lavender w-full h-auto px-[6%]">
    <div class="text-md lg:text-xl pt-12 text-black lg:pr-10 text-justify">
        <p class="font-bold text-2xl md:text-4xl pb-4">The conference days will be divided into the following events:</p>
        <div class="pt-4 text-lg w-[90%] md:w-[80%]">
            <li class="flex">
                <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-5 h-5 mr-2 mt-1.5">
                <span class="text-xl md:text-2xl font-semibold">September 12, 2025: Workshops</span>
            </li>
            <p class="pt-2 pl-8">
                Workshops will be 3-hour-long interactive sessions where attendees can learn by doing. 
                Workshops will be held on September 12, 2025 across two morning & evening sessions. We may have up to 3 parallel workshops in each session. 
                The morning session will run from 10:00 AM to 1:00 PM. The evening session will run from 2:00 PM to 5:00 PM.
            <p>
        </div>

        <div class="pt-4 text-lg w-[90%] md:w-[80%]">
            <li class="flex">
                <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-5 h-5 mr-2 mt-1.5">
                <span class="text-xl md:text-2xl font-semibold">September 13 - September 14, 2025: Talks, Poster sessions, Lightning Talks, Open Spaces, Sponsor Booths</span>
            </li>

            <div class="pl-8 pt-4">
                <li class="flex">
                    <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-2">
                    <span class="text-xl md:text-2xl font-semibold">Talks:</span>
                </li>
                <p class="pt-2">
                    Talks will be where people do a 30 min talk, on a topic. These talks are selected through a CFP process, before the event. 
                    Talks will be held across the morning & evening sessions on September 13, 2025 and September 14, 2025. 
                    We may have up to 4 parallel tracks of talks in each session. 
                    The morning session will run from 10:00 AM to 1:00 PM. 
                    The evening session will run from 2:00 PM to 6:00 PM.
                <p>
            </div>
            <div class="pl-8">
                <li class="flex">
                    <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-2">
                    <span class="text-xl md:text-2xl font-semibold">Poster Session:</span>
                </li>
                <p class="pt-2">
                    Poster session is a 1-hour session during which presenters use a graphic poster and a laptop to present their topic.
                <p>
            </div>
            <div class="pl-8">
                <li class="flex">
                    <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-2">
                    <span class="text-xl md:text-2xl font-semibold">Open Spaces:</span>
                </li>
                <p class="pt-2">
                    Open spaces are where people have informal presentations and discussions alongside the talk tracks. 
                    Open spaces slots can be booked at the venue, on the day of the event.
                <p>
            </div>
            <div class="pl-8">
                <li class="flex">
                    <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-2">
                    <span class="text-xl md:text-2xl font-semibold">Lightning talks:</span>
                </li>
                <p class="pt-2">
                    Lightning talks is a 1-hour session. Lightning talks are rapid 5-minute presentations, presented to the entire conference crowd, a great way to get a message across to the entire audience.
                <p>
            </div>
            <div class="pl-8">
                <li class="flex">
                    <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-2">
                    <span class="text-xl md:text-2xl font-semibold">Sponsor Booths:</span>
                </li>
                <p class="pt-2">
                    Sponsor booths are where you can meet companies supporting the conference. These companies use Python and are looking for Python developers. 
                    You can visit their booths to get to know more about them, and the openings in their organization.
                <p>
            </div>
        </div>

        <div class="pt-4 text-lg w-[90%] md:w-[80%]">
            <li class="flex">
                <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-5 h-5 mr-2 mt-1.5">
                <span class="text-xl md:text-2xl font-semibold">September 15, 2025: Devsprints</span>
            </li>
            <p class="pt-2 pl-8">
                During the Devsprints, people contribute to open-source projects, guided by mentors. 
                This is a nice way to get started with contributing to Python and other open-source projects.
            <p>
        </div>
    </div>
</div>


<div class="main-container md:pt-20 bg-lavender w-full h-auto px-[6%]">
    <div class="pb-40 md:pb-60 lg:pb-[20%] w-full text-justify lg:w-[70%]">
        <div class="font-light text-3xl md:text-5xl md:text-center text-[#000000] text-center lg:text-left">
            <p class="pt-20 md:pt-4 font-semibold">General FAQ's</p>
            <div class="pt-4 text-[#000000] lg:pr-0">
                {% call renderDropdown("Where can I find updates related to PyCon India 2025?") -%}
                    <div class="pt-4 px-4 text-lg">
                        <p> 
                            All announcements related to the conference are posted to the <a class="text-blue-600 no-underline" href="https://mail.python.org/mailman3/lists/inpycon-announce.python.org/" target="_blank">PyCon India Announce mailing list</a>. 
                            If you would like to volunteer, and contribute to the organization of PyCon India, join the <a class="text-blue-600 no-underline" href="https://mail.python.org/mailman/listinfo/inpycon" target="_blank">InPyCon mailing list</a>. 
                            We also have a presence on social media. All our announcements are posted on our 
                            <a class="text-blue-600 no-underline" href="https://x.com/pyconindia" target="_blank">X</a>, 
                            <a class="text-blue-600 no-underline" href="https://linkedin.com/company/pyconindia" target="_blank">LinkedIn</a>, and 
                            <a class="text-blue-600 no-underline" href="https://www.facebook.com/PyConIndia/" target="_blank">Facebook</a> pages.
                        </p>
                    </div>
                {%- endcall %}
            </div>
            <div class="pt-4 text-[#000000] lg:pr-0">
                {% call renderDropdown("I want to present at the conference. What should I do?") -%}
                    <div class="pt-4 px-4 text-lg">
                        <p> 
                            The call for Proposals is now closed. You can register for Lightning Talks. Details will be posted soon.
                        </p>
                    </div>
                {%- endcall %}
            </div>
            <div class="pt-4 text-[#000000] lg:pr-0">
                {% call renderDropdown("I am a first-time speaker & need some help in getting started. What should I do?") -%}
                    <div class="pt-4 px-4 text-lg">
                        <p> 
                            Check out the 
                            <a class="text-blue-600 no-underline" href="https://github.com/pythonindia/junction/wiki/Speaker-best-practices">Speaker best practices</a> to understand more about the process. 
                            For any doubts, feel free to reach out to us!
                        </p>
                    </div>
                {%- endcall %}
            </div>
            <div class="pt-4 text-[#000000] lg:pr-0">
                {% call renderDropdown("I want to volunteer for the conference. What should I do?") -%}
                    <div class="pt-4 px-4 text-lg">
                        <p> 
                            You can fill out the 
                            <a class="text-blue-600 no-underline" href="https://docs.google.com/forms/d/e/1FAIpQLSdX2LEom11BbWDiLUiQp1rmeNX9l7J8bfszGidsRDoExy0D5A/viewform" target="_blank">Volunteer Form</a> to understand more about the process. 
                            and subscribe to the <a class="text-blue-600 no-underline" href="https://mail.python.org/mailman/listinfo/inpycon" target="_blank">InPyCon mailing list</a>
                        </p>
                    </div>
                {%- endcall %}
            </div>
            <div class="pt-4 text-[#000000] lg:pr-0">
                {% call renderDropdown("Will the Internet and WiFi setup be good enough for a large crowd? Should I get a data card?") -%}
                    <div class="pt-4 px-4 text-lg">
                        <p class="font-bold">Workshops and Devsprints</p>
                        <p>
                            We try really hard to arrange good Internet at the venue. Most of the time it is adequate. 
                            However, the unpredictable amount of usage during these events sometimes causes problems. 
                            So it is fine if you don't carry a data card, but there is no harm in being prepared for the worst. 
                        </p>
                        <p class="font-bold">Conference</p>
                        <p>
                            Please note that Internet and WiFi will not be provided for the Conference sessions. 
                        </p>
                    </div>
                {%- endcall %}
            </div>
            <div class="pt-4 text-[#000000] lg:pr-0">
                {% call renderDropdown("How can I get in touch for queries or discussions related to PyCon India?") -%}
                    <div class="pt-4 px-4 text-lg">
                        <ul class="list-none space-y-4">
                            <li class="flex">
                                <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-3 h-3 mr-2 mt-2">
                                <span>For general queries: <a href="mailto:contact@in.pycon.org" class="underline text-pycon-blue">contact@in.pycon.org</a> </span>
                            </li>
                            <li class="flex">
                                <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-3 h-3 mr-2 mt-2">
                                <span>For ticket queries: <a href="mailto:tickets@in.pycon.org" class="underline text-pycon-blue">tickets@in.pycon.org</a> </span>
                            </li>
                            <li class="flex">
                                <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-3 h-3 mr-2 mt-2">
                                <span>Zulip Chat: <a href="https://pyconindia.zulipchat.com/" class="underline text-pycon-blue">https://pyconindia.zulipchat.com/</a> </span>
                            </li>
                        </ul>
                    </div>
                {%- endcall %}
            </div>
        </div>

        <div class="font-light text-3xl md:text-5xl md:text-center text-[#000000] text-center lg:text-left">
            <p class="pt-20 font-semibold">Ticketing FAQ's</p>
            <div class="pt-4 text-[#000000] lg:pr-0">
                {% call renderDropdown("Where can I purchase the tickets?") -%}
                    <div class="pt-4 px-4 text-lg">
                        <p> 
                            Tickets for PyCon India 2025 are available on Konfhub, our Ticketing and Finance Partner. Get your tickets <a class="text-blue-600 no-underline" href="{{ env.baseUrl }}tickets">here</a>.    
                        </p>
                    </div>
                {%- endcall %}
            </div>
            <div class="pt-4 text-[#000000] lg:pr-0">
                {% call renderDropdown("How can I cancel my ticket?") -%}
                    <div class="pt-4 px-4 text-lg">
                        <p> 
                            In the unfortunate event where people cannot attend the Conference they can cancel their ticket by sending an email to <a href="mailto:tickets@in.pycon.org" class="underline text-pycon-blue">tickets@in.pycon.org</a>. 
                            This will enable us to open tickets for others interested in attending the conference. 
                            Cancellation is subject to Terms and Conditions mentioned below. 
                            Ticketing team will process the Cancellation and the amount will be refunded to the original payment method. 
                            Cancellations requests will be accepted till <b class="font-bold">31st August 2025, 23:59 IST</b>.
                        </p>
                        <p class="font-bold">Terms and Conditions:</p>
                        <ul class="list-none space-y-4">
                            <li class="flex">
                                <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-3 h-3 mr-2 mt-2">
                                <span>Due to compliance reasons we won't be able to process cancellations for participants claiming GST in their purchases. Please reach out to <a href="mailto:tickets@in.pycon.org" class="underline text-pycon-blue">tickets@in.pycon.org</a> for further assistance.</span>
                            </li>
                            <li class="flex">
                                <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-3 h-3 mr-2 mt-2">
                                <span>Cancellation will incur a small cancellation fee equivalent to charges incurred as a part of platform fees.</span>
                            </li>
                        </ul>
                    </div>
                {%- endcall %}
            </div>
            <div class="pt-4 text-[#000000] lg:pr-0">
                {% call renderDropdown("How can I request a ticket transfer?") -%}
                    <div class="pt-4 px-4 text-lg">
                        <p> 
                            Ticket transfers are not allowed. Only ticket cancellations are permitted.  
                            Please refer to the cancellation policy for more details.
                            </p>
                    </div>
                {%- endcall %}
            </div>
            <div class="pt-4 text-[#000000] lg:pr-0">
                {% call renderDropdown("I am a speaker/volunteer at the conference. Do I need to buy a ticket?") -%}
                    <div class="pt-4 px-4 text-lg">
                        <p>
                            Yes. At PyCon India, everybody buys tickets. Even the event organizers buy tickets. 
                            Your ticket helps keep the event affordable for all.
                        </p>
                    </div>
                {%- endcall %}
            </div>
            <div class="pt-4 text-[#000000] lg:pr-0">
                {% call renderDropdown("What does the Conference (September 13-14, 2025) ticket include?") -%}
                    <div class="pt-4 px-4 text-lg">
                        <ul class="list-none space-y-4">
                            <li class="flex">
                                <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-3 h-3 mr-2 mt-2">
                                <span>A full conference pass for two days that includes access to all keynotes, talks, poster sessions, lightning talks, and open spaces.</span>
                            </li>
                            <li class="flex">
                                <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-3 h-3 mr-2 mt-2">
                                <span>Lunch</span>
                            </li>
                            <li class="flex">
                                <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-3 h-3 mr-2 mt-2">
                                <span>High-Tea and Snacks</span>
                            </li>
                            <li class="flex">
                                <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-3 h-3 mr-2 mt-2">
                                <span>PyCon India T-shirt and goodies</span>
                            </li>
                        </ul>
                    </div>
                {%- endcall %}
            </div>
            <div class="pt-4 text-[#000000] lg:pr-0">
                {% call renderDropdown("Is there a different ticket for the Workshops?") -%}
                    <div class="pt-4 px-4 text-lg">
                        <p>
                            Yes. A separate ticket has to be purchased for each workshop. The following is included as part of the workshop ticket:
                        </p>
                        <ul class="list-none space-y-4">
                            <li class="flex">
                                <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-3 h-3 mr-2 mt-2">
                                <span>Access to the specific workshop</span>
                            </li>
                            <li class="flex">
                                <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-3 h-3 mr-2 mt-2">
                                <span>Lunch</span>
                            </li>
                            <li class="flex">
                                <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-3 h-3 mr-2 mt-2">
                                <span>High-Tea and Snacks</span>
                            </li>
                            <li class="flex">
                                <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-3 h-3 mr-2 mt-2">
                                <span>Access to Kid's engagement (by Volunteers) at the Venue</span>
                            </li>
                        </ul>
                    </div>
                {%- endcall %}
            </div>
            <div class="pt-4 text-[#000000] lg:pr-0">
                {% call renderDropdown("Is there a different ticket for the Devsprints?") -%}
                    <div class="pt-4 px-4 text-lg">
                        <p>
                            Devsprints don't require tickets, but you'll need to register for it. Details will be shared soon.
                        </p>
                    </div>
                {%- endcall %}
            </div>
            <div class="pt-4 text-[#000000] lg:pr-0">
                {% call renderDropdown("Is accommodation included in the ticket?") -%}
                    <div class="pt-4 px-4 text-lg">
                        <p>
                            No, it doesn't include accommodation.
                        </p>
                    </div>
                {%- endcall %}
            </div>
            <div class="pt-4 text-[#000000] lg:pr-0">
                {% call renderDropdown("Would there be any spot registration at the venue?") -%}
                    <div class="pt-4 px-4 text-lg">
                        <p>
                            No, there will be no spot registrations at the venue. 
                            Please ensure you register online in advance to secure your participation.
                        </p>
                    </div>
                {%- endcall %}
            </div>
            <div class="pt-4 text-[#000000] lg:pr-0">
                {% call renderDropdown("Can I switch between workshops during the session?") -%}
                    <div class="pt-4 px-4 text-lg">
                        <p>
                            No. Each track is planned at its full capacity.
                        </p>
                    </div>
                {%- endcall %}
            </div>
        </div>
    </div>
</div>

