<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="refresh" content="0; url={{ env.baseUrl }}/coc/guidelines" />
    <link rel="canonical" href="{{ env.baseUrl }}/coc/guidelines" />
  </head>
</html>