---
title: Exhibitor's Guide
description: PyCon India 2025 Exhibitor's Guide
layout: base.njk
---

{% from "components/button.njk" import button %}
{% from "components/flat-card.njk" import flatCard %}

<div class="w-full h-auto bg-pycon-blue -mb-24 px-[6%] flex flex-col md:flex-row">
  <div class="pt-32 pb-8 md:pb-32 w-full lg:w-[70%]">
    <div class="black-han-sans-regular font-normal text-3xl md:text-5xl text-[#FFFFFF] text-center lg:text-left">
      PyCon India 2025 Exhibitor's Guide
    </div>
    <div class="text-md lg:text-xl pt-12 text-[#FFFFFF] lg:pr-10 text-justify">
      <p>Welcome to the PyCon India 2025 Exhibitor’s Guide. This handbook contains important details for exhibitors
        including booth specifications, services, rules, and schedules. The exhibition will be held during the
        conference days on 13th and 14th September 2025 at NIMHANS Convention Centre, Bengaluru.</p>
    </div>
  </div>
  <div class="lg:w-[30%] w-[80%] lg:mt-60 flex items-center justify-center mx-auto">
    <img src="{{ env.baseUrl }}img/assets/laptop.svg" alt="Guide"
      class="w-[40%] lg:w-[60%] transition-transform duration-100" style="animation: floating 2s ease-in-out infinite;">
    <img src="{{ env.baseUrl }}img/assets/filter-coffee.svg" alt="Guide"
      class="w-[40%] lg:w-[60%] transition-transform duration-100" style="animation: floating 2s ease-in-out infinite;">
  </div>
</div>

<div class="main-container pt-16 md:pt-48 bg-lavender w-full h-auto px-[6%]">
  <div class="pb-40 md:pb-40 lg:pb-[20%] w-full text-justify lg:w-[70%]">

    <!-- Important Dates -->
    <div class="mt-12 md:-mt-16 lg:-mt-20 text-md lg:text-xl font-light">
      <div class="black-han-sans-regular font-normal text-3xl md:text-5xl text-[#000000] text-center lg:text-left">
        <p>Important Dates</p>
      </div>
      <div class="pt-6 text-[#000000] lg:pr-10">
        <ul class="list-none space-y-4">
          <li class="flex">
            <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" class="w-4 h-4 mr-2 mt-1">
            <span><span class="font-semibold">Exhibitor Move-In:</span> 13 Sept (9:00 AM – 6:00 PM), 14 Sept (7:00 AM –
              6:00 PM)</span>
          </li>
          <li class="flex">
            <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" class="w-4 h-4 mr-2 mt-1">
            <span><span class="font-semibold">Exhibition Hours:</span> 13–14 Sept, 9:00 AM – 6:00 PM</span>
          </li>
          <li class="flex">
            <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" class="w-4 h-4 mr-2 mt-1">
            <span><span class="font-semibold">Dismantling:</span> 14 Sept, 6:45 PM – 8:00 PM</span>
          </li>
        </ul>
      </div>
    </div>

    <!-- Booth Information -->
    <div class="pt-12 lg:pt-16 text-md lg:text-xl font-light">
      <div class="black-han-sans-regular font-normal text-3xl md:text-5xl text-[#000000] text-center lg:text-left">
        <p>Booth Information</p>
      </div>

      <div class="pt-8">
        <p class="text-2xl font-bold flex items-center"><span><img src="{{ env.baseUrl }}img/assets/square-lime.svg"
              alt="Bullet Icon" class="w-5 mr-2"></span>Platinum Booth</p>
        <div class="pt-4 text-md">
          <ul class="list-none space-y-4">
            <li class="flex">
              <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
              <span><span class="font-semibold">Size:</span> 5 x 2 meters.</span>
            </li>
            <li class="flex">
              <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
              <span><span class="font-semibold">Dimension:</span> 5x2 mtrs stall 16W x 8H ft Centre panel for print,
                6.2ft W x 8ft H</span>
            </li>
            <li class="flex">
              <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
              <span><span class="font-semibold">What's Included:</span> </span>
            </li>
            <ul class="list-none pl-8 space-y-3">
              <li class="flex">
                <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon"
                  class="w-4 h-4 mr-2 mt-1"><span>1 table, 2 chairs, 2 spotlights</span>
              </li>
              <li class="flex">
                <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon"
                  class="w-4 h-4 mr-2 mt-1"><span>1 TV (50 inches)</span>
              </li>
              <li class="flex">
                <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon"
                  class="w-4 h-4 mr-2 mt-1"><span>1 power outlet</span>
              </li>
              <li class="flex">
                <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon"
                  class="w-4 h-4 mr-2 mt-1"><span>Name displayed on top/center of the booth</span>
              </li>
              <li class="flex">
                <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon"
                  class="w-4 h-4 mr-2 mt-1"><span>White backdrop</span>
              </li>
            </ul>
          </ul>
        </div>
      </div>

      <div class="pt-8">
        <p class="text-2xl font-bold flex items-center"><span><img src="{{ env.baseUrl }}img/assets/square-lime.svg"
              alt="Bullet Icon" class="w-5 mr-2"></span>Gold Booth</p>
        <div class="pt-4 text-md">
          <ul class="list-none space-y-4">
            <li class="flex">
              <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
              <span><span class="font-semibold">Size:</span> 3 x 2 meters.</span>
            </li>
            <li class="flex">
              <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
              <span><span class="font-semibold">Dimension:</span> 3x2 mtrs stall 10W x 8 ft H, side 6.2W x 8ft
                H</span>
            </li>
            <li class="flex">
              <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
              <span><span class="font-semibold">What's Included:</span> </span>
            </li>
            <ul class="list-none pl-8 space-y-3">
              <li class="flex">
                <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon"
                  class="w-4 h-4 mr-2 mt-1"><span>1 table, 2 chairs, 2 spotlights</span>
              </li>
              <li class="flex">
                <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon"
                  class="w-4 h-4 mr-2 mt-1"><span>1 TV (50 inches)</span>
              </li>
              <li class="flex">
                <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon"
                  class="w-4 h-4 mr-2 mt-1"><span>1 power outlet</span>
              </li>
              <li class="flex">
                <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon"
                  class="w-4 h-4 mr-2 mt-1"><span>Name displayed on top/center of the booth</span>
              </li>
              <li class="flex">
                <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon"
                  class="w-4 h-4 mr-2 mt-1"><span>White backdrop</span>
              </li>
            </ul>
          </ul>
        </div>
      </div>
      <div class="pt-8">
        <p class="text-2xl font-bold flex items-center"><span><img src="{{ env.baseUrl }}img/assets/square-lime.svg"
              alt="Bullet Icon" class="w-5 mr-2"></span>Silver Booth</p>
        <div class="pt-4 text-md">
          <ul class="list-none space-y-4">
            <li class="flex">
              <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
              <span><span class="font-semibold">Size:</span> 2 x 2 meters.</span>
            </li>
            <li class="flex">
              <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
              <span><span class="font-semibold">Dimension:</span> 2x2 mtrs stall 6.2 ft W x 8ft H all side</span>
            </li>
            <li class="flex">
              <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
              <span><span class="font-semibold">What's Included:</span> </span>
            </li>
            <ul class="list-none pl-8 space-y-3">
              <li class="flex">
                <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon"
                  class="w-4 h-4 mr-2 mt-1"><span>1 table, 2 chairs, 2 spotlights</span>
              </li>
              <li class="flex">
                <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon"
                  class="w-4 h-4 mr-2 mt-1"><span>1 TV (50 inches)</span>
              </li>
              <li class="flex">
                <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon"
                  class="w-4 h-4 mr-2 mt-1"><span>1 power outlet</span>
              </li>
              <li class="flex">
                <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon"
                  class="w-4 h-4 mr-2 mt-1"><span>Name displayed on top/center of the booth</span>
              </li>
              <li class="flex">
                <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon"
                  class="w-4 h-4 mr-2 mt-1"><span>White backdrop</span>
              </li>
            </ul>
          </ul>
        </div>
      </div>

      <p class="pt-6"><span class="font-semibold">Custom Booths and Backdrops: </span> If you plan to have a custom
        booth or need any backdrop printing, please coordinate with the booth vendor in advance</p>
      <p class="pt-6"><span class="font-semibold">Important: </span> If your kiosk includes interactive activities,
        maintain 3 feet of clearance from the aisle(s) to allow attendees to congregate. Place all signage and displays
        within your booth space without obstructing neighboring booths or traffic flow.</p>
    </div>

    <!-- Services & Facilities -->
    <div class="pt-6 lg:pt-16 text-md lg:text-xl font-light">
      <div class="black-han-sans-regular font-normal text-3xl md:text-5xl text-[#000000] text-center lg:text-left">
        <p>Services & Facilities</p>
      </div>

      <div class="pt-4 text-md">
        <ul class="list-none space-y-4">
          <li class="flex">
            <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
            <span><span class="font-semibold">Photography/Videography:</span> An official photographer/videographer will
              be available during the conference.</span>
          </li>
          <li class="flex">
            <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
            <span><span class="font-semibold">Voluntary Security:</span> Arrangements are made for general security by
              volunteers. Ensure that at least one team member is present at your booth at all times.</span>
          </li>
          <li class="flex">
            <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
            <span><span class="font-semibold">Fire Precautions:</span> Fire engines with firefighting equipment will be
              on standby. Smoking is not permitted inside the venue.</span>
          </li>
          <li class="flex">
            <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
            <span><span class="font-semibold">Internet Browsing:</span> Wi-Fi will be available at the venue, but be
              mindful about the usage as it's common network and will be used by others as well.</span>
          </li>
          <li class="flex">
            <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
            <span><span class="font-semibold">Medical Facility:</span> An ambulance and first-aid kit will be available
              on-site.</span>
          </li>
          <li class="flex">
            <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
            <span><span class="font-semibold">Child Care:</span> Child care services will be available for children aged
              2 to 12 years.</span>
          </li>
        </ul>
      </div>
      <p class="pt-6"><span class="font-semibold">Note: </span> Additional facilities beyond those listed may attract
        additional charges.</p>
    </div>

    <!-- Registration & Badge Info -->
    <div class="pt-6 lg:pt-16 text-md lg:text-xl font-light">
      <div class="black-han-sans-regular font-normal text-3xl md:text-5xl text-[#000000] text-center lg:text-left">
        <p>Registration & Badges</p>
      </div>
      <div class="pt-4 text-[#000000] lg:pr-10">
        <p class="pt-4"><span class="font-semibold">Badges: </span> Badges are required for everyone in the Expo Halls.
          Your sponsorship package determines the specific number of passes you receive.</p>
        <p class="pt-6"><span class="font-semibold">Badge Pickup Hours: </span> 13 Sept (7:30–9:00 AM), 14 Sept
          (8:00–9:00 AM)</p>
      </div>
    </div>

    <!-- Rules & Regulations -->
    <div class="pt-6 lg:pt-16 text-md lg:text-xl font-light">
      <div class="black-han-sans-regular font-normal text-3xl md:text-5xl text-[#000000] text-center lg:text-left">
        <p>Rules & Regulations</p>
      </div>

      <div class="pt-4 text-md">
        <ul class="list-none space-y-4">
          <li class="flex">
            <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
            <span><span class="font-semibold">Booth Operations and Demonstrations:</span> </span>
          </li>
          <ul class="list-none pl-8 space-y-3">
            <li class="flex">
              <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon"
                class="w-4 h-4 mr-2 mt-1"><span>All activities and promotional materials must be confined within
                your booth space.</span>
            </li>
            <li class="flex">
              <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon"
                class="w-4 h-4 mr-2 mt-1"><span>No activities outside the booth area, including hallways.</span>
            </li>
            <li class="flex">
              <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon"
                class="w-4 h-4 mr-2 mt-1"><span>Avoid booth activities during keynote sessions.</span>
            </li>
            <li class="flex">
              <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon"
                class="w-4 h-4 mr-2 mt-1"><span>Maintain a professional presence in all demonstrations.</span>
            </li>
            <li class="flex">
              <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon"
                class="w-4 h-4 mr-2 mt-1"><span>Ensure noise levels are kept to a minimum to avoid disturbing
                others.</span>
            </li>
          </ul>
          <li class="flex">
            <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
            <span><span class="font-semibold">Access Control:</span> </span>
          </li>
          <ul class="list-none pl-8 space-y-3">
            <li class="flex">
              <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon"
                class="w-4 h-4 mr-2 mt-1"><span>No outsiders without a conference pass are allowed inside the
                premises.</span>
            </li>
            <li class="flex">
              <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon"
                class="w-4 h-4 mr-2 mt-1"><span>Anyone without a valid ticket by the time of the opening address
                will be required to leave the premises.</span>
            </li>
          </ul>



          <li class="flex">
            <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
            <span><span class="font-semibold">Aisle Space:</span> Do not place items such as extra monitors or
              tables outside the booth that may obstruct hallways.</span>
          </li>
          <li class="flex">
            <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
            <span><span class="font-semibold">Housekeeping:</span> Maintain your booth in a tidy condition at all
              times.</span>
          </li>
          <li class="flex">
            <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
            <span><span class="font-semibold">Accessibility:</span> Ensure your exhibits are accessible to all
              attendees.</span>
          </li>
          <li class="flex">
            <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
            <span><span class="font-semibold">Safety:</span> Standing on chairs, tables, or other rental furniture
              is not permitted.</span>
          </li>
          <li class="flex">
            <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
            <span><span class="font-semibold">Alcohol:</span> Alcohol is prohibited in booths at all times.</span>
          </li>
          <li class="flex">
            <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
            <span><span class="font-semibold">Security:</span> PyCon India provides perimeter security, but each
              exhibitor is responsible for their own booth security.</span>
          </li>
          <li class="flex">
            <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
            <span><span class="font-semibold">Photography and Recording:</span> Obtain consent before taking
              pictures or recording videos of individuals or groups. Respect attendees' privacy and personal
              space.</span>
          </li>
        </ul>
      </div>
    </div>

    <!-- Final Note -->
    <div class="pt-6 lg:pt-16 text-md lg:text-xl font-light">
      <div class="black-han-sans-regular font-normal text-3xl md:text-5xl text-[#000000] text-center lg:text-left">
        <p>Final Note</p>
      </div>
      <div class="pt-6 text-[#000000] lg:pr-6">
        <p>This guide helps you plan for a successful exhibition at PyCon India 2025.</p>
        <p>The organizers reserve the right to change the information available in this guide.</p>
        <p>For queries, contact us at <a href="mailto:sponsorship@in.pycon.org"
            class="underline text-pycon-blue">sponsorship@in.pycon.org</a></p>
      </div>
    </div>
  </div>
</div>