---
title: Our Team - PyCon India 2025
description: PyCon India 2025 Speakers
layout: base.njk
---

{% from "components/img-container.njk" import imgContainer %}

<div class="w-full bg-pycon-blue h-auto px-[6%] -mb-16 md:mb-0 flex flex-col md:flex-row">
    <div class="pt-32 pb-8 md:pb-32 w-full lg:w-[70%]">
        <div class="black-han-sans-regular font-normal text-3xl md:text-5xl md:text-center text-[#FFFFFF] text-center lg:text-left">
            The Origin Story
        </div>
        <div class="text-md lg:text-xl pt-12 text-[#FFFFFF] lg:pr-10 text-justify">
            <p class="text-3xl font-bold text-center lg:text-left">About PyCon India 2025</p>
            <p>PyCon India is a volunteer driven conference. Like every year, we need enthusiastic and driven volunteer drive to make PyCon India successful.</p>
        </div>
    </div>
    <div class="lg:w-[30%] w-[80%] lg:mt-32 flex items-center justify-center mx-auto">
        <img src="{{ env.baseUrl }}img/assets/team.svg" alt="Scholarship Guide" class="w-[80%] transition-transform duration-100" style="animation: floating 2s ease-in-out infinite;">
    </div>
</div>

<div class="main-container bg-lavender pt-48 pb-72 lg:pb-40 md:pt-16 w-full text-black h-auto px-[6%]">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-10 gap-y-16 ml-4 pt-10">
        {% for person in team %}
        <div class="flex flex-col items-center pb-4 transition-transform duration-300 hover:-translate-y-2">
            <div class="mx-auto">
                <!-- Responsive Image with 4:3 ratio -->
                <div class="w-60 h-auto relative group mx-auto">
                    <div class="w-full h-full">
                        {% set image_url = person.imageLink if person.imageLink else env.baseUrl ~ "img/assets/avatar.svg" %}
                        {{ imgContainer(width=200, height=200, depth=12, frontBg="lavender", leftBg="purple", topBg="purple", url=image_url, fallback=env.baseUrl ~ "img/assets/avatar.svg", altText=person.name) }}
                    </div>
                </div>

                <!-- Name -->
                <p class="mt-2 mb-1 text-xl font-light w-52 pl-2 text-left">{{ person.name }}</p>

                <!-- Title -->
                <p class="mt-2 mb-1 text-xs font-light w-52 pl-2 text-left">{{person.role}}</p>

                <!-- Socials -->
                <div class="flex justify-start items-start gap-1 md:gap-4 flex-wrap w-52 pl-2 text-left">
                    {% if person.socials.linkedin %}
                    <a href="{{ person.socials.linkedin }}" target="_blank" aria-label="LinkedIn" class="p-1 rounded-full outline outline-1 outline-lime-300 flex justify-center items-center hover:scale-110 hover:text-[#4E62F5] transition-transform duration-200 no-underline">
                        <i class="fab fa-linkedin text-md md:text-xl"></i>
                    </a>
                    {% endif %}
                    {% if person.socials.web %}
                    <a href="{{ person.socials.web }}" target="_blank" aria-label="Website" class="p-1 rounded-full outline outline-1 outline-lime-300 flex justify-center items-center hover:scale-110 hover:text-[#4E62F5] transition-transform duration-200 no-underline">
                        <i class="fa fa-globe text-md md:text-xl"></i>
                    </a>
                    {% endif %}
                    {% if person.socials.twitter %}
                    <a href="{{ person.socials.twitter }}" target="_blank" aria-label="X" class="p-1 rounded-full outline outline-1 outline-lime-300 flex justify-center items-center hover:scale-110 hover:text-[#4E62F5] transition-transform duration-200 no-underline">
                        <i class="fab fa-x-twitter text-md md:text-xl"></i>
                    </a>
                    {% endif %}
                    {% if person.socials.github %}
                    <a href="{{ person.socials.github }}" target="_blank" aria-label="GitHub" class="p-1 rounded-full outline outline-1 outline-lime-300 flex justify-center items-center hover:scale-110 hover:text-[#4E62F5] transition-transform duration-200 no-underline">
                        <i class="fab fa-github text-md md:text-xl"></i>
                    </a>
                    {% endif %}
                    {% if person.socials.youtube %}
                    <a href="{{ person.socials.youtube }}" target="_blank" aria-label="YouTube" class="p-1 rounded-full outline outline-1 outline-lime-300 flex justify-center items-center hover:scale-110 hover:text-[#4E62F5] transition-transform duration-200 no-underline">
                        <i class="fab fa-youtube text-md md:text-xl"></i>
                    </a>
                    {% endif %}
                    {% if person.socials.insta %}
                    <a href="{{ person.socials.insta }}" target="_blank" aria-label="Instagram" class="p-1 rounded-full outline outline-1 outline-lime-300 flex justify-center items-center hover:scale-110 hover:text-[#4E62F5] transition-transform duration-200 no-underline">
                        <i class="fab fa-instagram text-md md:text-xl"></i>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
