---
title: Community Booth Program
description: |
    PyCon India 2025 invites community groups to apply for a community booth, an excellent opportunity to engage with the vibrant Python community in India. A community booth allows you to showcase your work, connect with like-minded developers, and grow your network. It’s a great way to share your story, promote your initiatives, and inspire more contributors to join your cause.
layout: page.njk
---
{% from "components/button.njk" import button %}


<h3> Who can apply for a community booth?</h3>

<div class="text-[#000000] lg:pr-10">
    <ul class="list-none">
        <li class="flex">
            <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
            <span><span class="font-bold">Open-Source Organizations:</span> Projects that contribute to the tech community through the development of open-source libraries, frameworks, tools, or software.</span>
        </li>
        <li class="flex">
            <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
            <span><span class="font-bold">Non-Profit Organizations:</span> Non-profit entities dedicated to promoting technology, and supporting developers.</span>
        </li>
        <li class="flex">
            <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
            <span><span class="font-bold">Technology Communities and User Groups:</span> Local or regional Python user groups, developer communities, or tech-focused organizations that engage and support tech enthusiasts.</span>
        </li>
    </ul>
</div>


<h3> Who may not qualify as a community partner? </h3>

<div class="text-[#000000] lg:pr-10">
    <ul class="list-none">
        <li class="flex">
            <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
            <span><span class="font-bold">Unrelated or Unfitting Groups:</span> These are entities that lack a distinct link or pertinence to the Python community, its growth, or its intended goals.</span>
        </li>
        <li class="flex">
            <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
            <span><span class="font-bold">Disputed Bodies:</span> Entities that advocate hate speech, prejudice, or participate in activities that are at odds with the principles of inclusivity, diversity, and respect that the PyCon India community supports.</span>
        </li>
        <li class="flex">
            <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
            <span><span class="font-bold">Commercial Entities:</span> We’d love for you to consider <a href="https://in.pycon.org/2025/sponsors/">Sponsoring PyCon</a> instead of applying for a community booth.</span>
        </li>
    </ul>
</div>

<h3>Guidelines</h3>

<div class="text-[#000000] lg:pr-10">
    <ul class="list-none">
        <li class="flex">
            <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
            <span>Please make sure participants for this program have tickets for the conference.</span>
        </li>
        <li class="flex">
            <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
            <span>Please make sure at least one person is always available at the booth.</span>
        </li>
        <li class="flex">
            <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
            <span>Follow the conference's Code of Conduct at all times.</span>
        </li>
    </ul>
</div>

<h3>Selection</h3>
<div class="text-[#000000] lg:pr-10">
    <ul class="list-none">
        <li class="flex">
            <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
            <span>
    We’d love for you to apply for a community booth at PyCon India 2025! The organizing team will review all applications and make the final call, keeping in mind what best fits the vibe and goals of the Python community.
            </span>
        </li>
    </ul>
</div>

<div class="flex justify-center lg:justify-start pt-8">
    {{ button(text="Ready? Apply here!", url="https://docs.google.com/forms/d/1KMqjXyPgdiF7udfQtTWX5akrv5dCfQshHcsHObo-N4M/", lime_bg=true, env = env) }}
</div>