---
title: Call For Proposals
description: Call For Proposals for PyCon India 2025
layout: base.njk
---

{% from "components/button.njk" import button %}
{% from "components/flat-card.njk" import flatCard %}
{% from "components/list.njk" import list %}
{% from "components/listCard.njk" import listCard %}


{% set callForProposals = cfp %}



<div class="w-full h-auto bg-pycon-blue -mb-24 px-[6%] flex flex-col md:flex-row">
    <div class="pt-32 pb-8 md:pb-32 w-full lg:w-[70%]">
        <div class="black-han-sans-regular font-normal text-3xl md:text-5xl md:text-center text-[#FFFFFF] text-center lg:text-left">
            Call For Proposals
        </div>
        <div class="text-md lg:text-xl pt-12 text-[#FFFFFF] lg:pr-10 text-justify">
            <p>Join us for the 16th edition of PyCon India, the premier Python conference in India, scheduled for September 12-15, 2025, in Bengaluru. Whether you use Python professionally, as a hobby, or are simply passionate about Python and its community, we'd love to invite you to submit proposals. The conference features several session types, including Workshops, Talks, DevSprints, Panel Discussion, and Poster Presentations.</p>
        </div>
    </div>
    <div class="lg:w-[30%] w-[80%] lg:mt-60 flex items-center justify-center mx-auto">
        <img src="{{ env.baseUrl }}img/assets/laptop.svg" alt="Guide" class="w-[40%] lg:w-[60%] transition-transform duration-100" style="animation: floating 2s ease-in-out infinite;">
        <img src="{{ env.baseUrl }}img/assets/filter-coffee.svg" alt="Guide" class="w-[40%] lg:w-[60%] transition-transform duration-100" style="animation: floating 2s ease-in-out infinite;">
    </div>
</div>

<div class="absolute top-2/5 right-4 md:block">
    <img src="{{ env.baseUrl }}img/assets/star-lime-vector.svg" alt="Groovy star" class="md:w-16 md:h-16 w-10 h-10">
</div>

<div class="absolute md:top-3/4 pt-52 md:right-20 right-12 md:block">
    <img src="{{ env.baseUrl }}img/assets/star-pink-vector.svg" alt="Groovy star" class="md:w-16 md:h-16 w-10 h-10">
</div>

<div class="main-container pt-16 md:pt-48 bg-lavender w-full h-auto px-[6%]">
    <div class="pb-40 md:pb-60 lg:pb-[20%] w-full text-justify lg:w-[70%]">
        <div class="mt-24 md:-mt-32 lg:-mt-20 text-md lg:text-xl font-light">
            <div class="black-han-sans-regular font-normal text-3xl md:text-5xl md:text-center text-[#000000] text-center lg:text-left">
                <p>Important Dates</p>
            </div>
            <div class="pt-12 text-[#000000] lg:pr-10">
                <ul class="list-none space-y-4">
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span><span class="font-semibold">Submission Open:</span> 20 February 2025</span>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span><span class="font-semibold">Submission Deadline:</span> 18 May 2025</span>
                    </li>
                    <li>
                      <span class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span class="font-semibold">Speaker Notifications:</span>&nbsp;7 July 2025
                      </span>
                      <ul class="ml-6">
                        <li>
                          <span>Notification emails are sent out in phases over a couple of days.</br>Workshop speaker notifications are delayed by a week.</span>
                        </li>
                      </ul>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span><span class="font-semibold">Schedule Announcement:</span> 10 July 2025</span>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span><span class="font-semibold">Workshops:</span> 12 September 2025</span>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span><span class="font-semibold">Talk Presentations:</span> 13-14 September 2025</span>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span><span class="font-semibold">DevSprint:</span> 15 September 2025 <i>(Details to follow)</i></span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="pt-12 lg:pt-32 text-md lg:text-xl font-light">
            <div id="sessions" class="black-han-sans-regular font-normal text-3xl md:text-5xl md:text-center text-[#000000] text-center lg:text-left">
                <p>Sessions</p>
            </div>
            <div class="pt-8">
              <ul class="list-none space-y-4">
                  <li class="flex">
                      <img src="{{ env.baseUrl }}img/assets/square-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                      <span class="font-semibold"><a href="{{ env.baseUrl }}cfp/talks">Talks and Workshops</a> (closed)</span>
                  </li>
                  <li class="flex">
                      <img src="{{ env.baseUrl }}img/assets/square-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                      <span class="font-semibold"><a href="{{ env.baseUrl }}cfp/panel">Panel Discussions</a> (open)</span>
                  </li>
                  <li class="flex">
                      <img src="{{ env.baseUrl }}img/assets/square-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                      <span class="font-semibold"><a href="{{ env.baseUrl }}cfp/poster">Poster Presentations</a> (open)</span>
                  </li>
                  <li class="flex">
                      <img src="{{ env.baseUrl }}img/assets/square-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                      <span class="font-semibold"><a href="#">DevSprints</a> (To be announced)</span>
                  </li>
              </ul>
            </div>
        </div>

        <div class="pt-12 lg:pt-32 text-md lg:text-xl font-light">
            <div class="black-han-sans-regular font-normal text-3xl md:text-5xl md:text-center text-[#000000] text-center lg:text-left">
                <p>Venues</p>
            </div>
            <div class="pt-12 text-[#000000] lg:pr-10">
                <ul class="list-none space-y-4">
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span><span class="font-semibold">Workshops:</span> To be announced</span>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span><span class="font-semibold">Talk Presentations:</span> NIMHANS Convention Centre, Bengaluru</span>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span><span class="font-semibold">DevSprint:</span> To be announced</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="pt-12 lg:pt-32 text-md lg:text-xl font-light">
            <div class="black-han-sans-regular font-normal text-3xl md:text-5xl md:text-center text-[#000000] text-center lg:text-left">
                <p>Submit Your Proposal</p>
            </div>
            <div class="pt-12 text-[#000000] lg:pr-10">
                <ul class="list-none space-y-4">
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span>Submissions of proposals are now OPEN.</span>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span>We welcome speakers from diverse backgrounds to share their knowledge and insights.</span>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span>Review the submission guidelines before submitting your proposal.</span>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span>For any questions regarding the CFP process, please email <a href="mailto:cfp@in.pycon.org" class="underline text-pycon-blue">cfp@in.pycon.org</a></span>
                    </li>
                </ul>
                <div class="flex justify-center pt-8">
                    {{ button(text="Submit a Proposal", url="https://cfp.in.pycon.org/2025/cfp", lime_bg=true, env = env) }}
                </div>
                 {#
                 <div class="text-center mt-4 text-red-600 font-semibold">
                   <p>Proposals are closed. Thank you for your submissions!</p>
                 </div>
                 #}
            </div>
        </div>

        <div class="pt-12 lg:pt-32 text-md lg:text-xl font-light" id="submission-guidelines">
            <div class="black-han-sans-regular font-normal text-3xl md:text-5xl md:text-center text-[#000000] text-center lg:text-left">
                <p>Submission Guidelines</p>
            </div>
            <div class="pt-12 text-[#000000] lg:pr-10">
                <ul class="list-none space-y-4">
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span><span class="font-semibold">Originality:</span> Proposals must be original and not previously presented at PyCon India.</span>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span><span class="font-semibold">Diversity:</span> We encourage submissions from individuals of all backgrounds, including those from underrepresented groups in technology.</span>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span><span class="font-semibold">Multiple Submissions:</span> Speakers may submit multiple proposals; however, each proposal should be distinct.</span>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span><span class="font-semibold">Language:</span> All proposals must be submitted in English.</span>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span><span class="font-semibold">Reference:</span> Review the <a href="https://in.pycon.org/cfp/2024/proposals/" class="underline text-pycon-blue">proposals from last year</a> for inspiration and guidance.</span>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span><span class="font-semibold">Promotion:</span> No promotion of company or hiring pitches are acceptable.</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="pt-12 lg:pt-32 text-md lg:text-xl font-light">
            <div class="black-han-sans-regular font-normal text-3xl md:text-5xl md:text-center text-[#000000] text-center lg:text-left">
                <p>Categories</p>
            </div>
            <div class="pt-8">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                    {% set bgLimeIndex = [0, 3, 4, 7, 8] %}
                    {% for proposal in callForProposals %}
                        {% if loop.index0 in bgLimeIndex %}
                            {% set bgColor = "lime" %}
                            {% set bulletColor = "purple" %}
                        {% else %}
                            {% set bgColor = "purple" %}
                            {% set bulletColor = "lime" %}
                        {% endif %}
                        {% call listCard(title=proposal.category, items=proposal.description, bgColor=bgColor, bulletColor=bulletColor) -%}
                        {%- endcall %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="pt-12 lg:pt-32 text-md lg:text-xl font-light">
            <div class="black-han-sans-regular font-normal text-3xl md:text-5xl md:text-center text-[#000000] text-center lg:text-left">
                <p>Code of Conduct</p>
            </div>
            <div class="pt-12 text-[#000000] lg:pr-10">
                <p>All participants must adhere to the <a href="{{ env.baseUrl }}coc/guidelines" class="underline text-pycon-blue">PyCon India Code of Conduct</a>, ensuring a welcoming and inclusive environment for everyone.</p>
            </div>
        </div>
    </div>
</div>
