---
title: Call For Proposals for Talks and Workshops
description: Call For Proposals for Workshops and Talks for PyCon India 2025
layout: base.njk
---

{% from "components/button.njk" import button %}

<div class="w-full h-auto bg-pycon-blue -mb-24 px-[6%] flex flex-col md:flex-row">
    <div class="pt-32 pb-8 md:pb-32 w-full lg:w-[70%]">
        <div class="black-han-sans-regular font-normal text-3xl md:text-5xl md:text-center text-[#FFFFFF] text-center lg:text-left">
            Talks and Workshops
        </div>
        <div class="text-md lg:text-xl pt-12 text-[#FFFFFF] lg:pr-10 text-justify">
            <p>PyCon India 2025 invites proposals for Workshops, Talks, and DevSprints that promote engaging, diverse, and insightful conversations across various aspects of Python and its ecosystem.</p>
        </div>
    </div>
    <div class="lg:w-[30%] w-[80%] lg:mt-60 flex items-center justify-center mx-auto">
        <img src="{{ env.baseUrl }}img/assets/laptop.svg" alt="Guide" class="w-[40%] lg:w-[60%] transition-transform duration-100" style="animation: floating 2s ease-in-out infinite;">
        <img src="{{ env.baseUrl }}img/assets/filter-coffee.svg" alt="Guide" class="w-[40%] lg:w-[60%] transition-transform duration-100" style="animation: floating 2s ease-in-out infinite;">
    </div>
</div>

<div class="absolute top-2/5 right-4 md:block">
    <img src="{{ env.baseUrl }}img/assets/star-lime-vector.svg" alt="Groovy star" class="md:w-16 md:h-16 w-10 h-10">
</div>

<div class="absolute md:top-3/4 pt-52 md:right-20 right-12 md:block">
    <img src="{{ env.baseUrl }}img/assets/star-pink-vector.svg" alt="Groovy star" class="md:w-16 md:h-16 w-10 h-10">
</div>

<div class="main-container pt-16 md:pt-48 bg-lavender w-full h-auto px-[6%]">
    <div class="pb-40 md:pb-60 lg:pb-[20%] w-full text-justify lg:w-[70%]">
        <div class="mt-24 md:-mt-32 lg:-mt-20 text-md lg:text-xl font-light">
            <div class="black-han-sans-regular font-normal text-3xl md:text-5xl md:text-center text-[#000000] text-center lg:text-left">
                <p>Important Dates</p>
            </div>
            <div class="pt-12 text-[#000000] lg:pr-10">
                <ul class="list-none space-y-4">
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span><span class="font-semibold">Submission Open:</span> 20 February 2025</span>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span><span class="font-semibold">Submission Deadline:</span> 18 May 2025</span>
                    </li>
                    <li>
                      <span class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span class="font-semibold">Speaker Notifications:</span>&nbsp;7 July 2025
                      </span>
                      <ul class="ml-6">
                        <li>
                          <span>Workshop speaker notifications are delayed.</span>
                        </li>
                      </ul>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span><span class="font-semibold">Schedule Announcement:</span> 10 July 2025</span>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span><span class="font-semibold">Workshops:</span> 12 September 2025</span>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span><span class="font-semibold">Talks:</span> 13-14 September 2025</span>
                    </li>
                </ul>
            </div>
            <div class="pt-12 text-[#000000] lg:pr-10">
                <div class="flex justify-center pt-8">
                    {{ button(text="Submit a Proposal", url="https://cfp.in.pycon.org/2025/cfp", lime_bg=true, env = env, disabled=true) }}
                </div>
                 <div class="text-center mt-4 text-red-600 font-semibold">
                    <p>Proposals are closed. Thank you for your submissions!</p>
                </div>
            </div>
        </div>

        <div class="pt-12 lg:pt-32 text-md lg:text-xl font-light">
            <div class="black-han-sans-regular font-normal text-3xl md:text-5xl md:text-center text-[#000000] text-center lg:text-left">
                <p>Session Types</p>
            </div>
            <div class="pt-8">
                <div class="pt-8">
                    <p class="text-2xl font-bold flex items-center"><span><img src="{{ env.baseUrl }}img/assets/square-lime.svg" alt="Bullet Icon" class="w-5 mr-2"></span>Workshops - 3 hours</p>
                    <div class="pt-4 text-md">
                        <ul class="list-none pl-6 space-y-3">
                            <li class="flex">
                                <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                                <span>Workshops are 3-hour hands-on sessions for interactive learning</span>
                            </li>
                            <li class="flex">
                                <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                                <span>Focus on practical implementation and guide participants through real-world applications</span>
                            </li>
                            <li class="flex">
                                <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                                <span>Include live coding, exercises, and problem-solving to enhance learning</span>
                            </li>
                            <li class="flex">
                                <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                                <span>Cover tools, frameworks, best practices, or advanced techniques in Python</span>
                            </li>
                            <li class="flex">
                                <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                                <span>Encourage collaboration, experimentation, and active participation</span>
                            </li>
                            <li class="flex">
                                <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                                <span>Refer to the submission categories for more details</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="pt-8">
                    <p class="text-2xl font-bold flex items-center"><span><img src="{{ env.baseUrl }}img/assets/square-lime.svg" alt="Bullet Icon" class="w-5 mr-2"></span>Talks - 30 mins</p>
                    <div class="pt-4 text-md">
                        <ul class="list-none pl-6 space-y-3">
                            <li class="flex">
                                <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                                <span>Technical Talks are 30-minute sessions (25 min talk + 5 min Q&A)</span>
                            </li>
                            <li class="flex">
                                <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                                <span>Cover any Python-related topic and share valuable insights</span>
                            </li>
                            <li class="flex">
                                <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                                <span>Share real-world experiences, new ideas, and best practices in Python</span>
                            </li>
                            <li class="flex">
                                <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                                <span>Discuss challenges, solutions, and contributions to the Python ecosystem</span>
                            </li>
                            <li class="flex">
                                <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                                <span>Provide practical knowledge, innovative approaches, or industry trends</span>
                            </li>
                            <li class="flex">
                                <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                                <span>Refer to the submission categories for more details</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="pt-12 lg:pt-32 text-md lg:text-xl font-light">
            <div class="black-han-sans-regular font-normal text-3xl md:text-5xl md:text-center text-[#000000] text-center lg:text-left">
                <p>Review Process</p>
            </div>
            <div class="pt-12 text-[#000000] lg:pr-10">
                <ul class="list-none space-y-4">
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span><span class="font-semibold">Initial Screening:</span> Proposals will be reviewed for completeness and adherence to guidelines.</span>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span><span class="font-semibold">Internal Review:</span> A panel of experts will evaluate proposals based on relevance, clarity, and impact.</span>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span><span class="font-semibold">External Review:</span> Selected proposals will undergo further evaluation by external reviewers.</span>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span><span class="font-semibold">Final Selection:</span> Shortlisted speakers will be invited for rehearsal sessions before finalizing the schedule.</span>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span><span class="font-semibold">Rehearsals:</span> Shortlisted speakers are expected to participate in rehearsal sessions via teleconferencing. This process ensures that talks are well-prepared and fit within the allotted time.</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="pt-12 lg:pt-32 text-md lg:text-xl font-light">
            <div class="black-han-sans-regular font-normal text-3xl md:text-5xl md:text-center text-[#000000] text-center lg:text-left">
                <p>Guidelines for Speakers</p>
            </div>
            <div class="pt-12 text-[#000000] lg:pr-10">
                <p>Please see <a href="https://navigator.in.pycon.org/en/latest/wg/mentorship/speaker-guidelines.html#guidelines">Speaker guidelines - PyCon India</a></p>
            </div>
        </div>
    </div>
</div>
