<div class="relative w-full h-auto bg-[#4E62F5] pt-12 md:pt-16 xl:pt-20 overflow-hidden">
    <img 
        src="{{ env.baseUrl }}img/hero-banner.png"
        alt="PyCon India 2025"
        class="w-full object-cover object-center scale-105 pb-10"
    />
</div>
