<div class="relative w-full h-auto bg-[#4E62F5] pt-1 md:pt-3 overflow-hidden">
    <img 
        src="{{ env.baseUrl }}img/hero-banner.png"
        alt="PyCon India 2025"
        class="w-full object-cover object-center scale-105"
    />
</div>
