{% from "components/cube.njk" import cube %}

<section class="relative bg-lavender text-black w-full pb-12 md:px-40 lg:px-28 xl:px-40 lg:pb-40">
    <div class="black-han-sans-regular md:justify-center md:text-center pt-28 pb-8 md:pt-24 font-normal text-4xl lg:text-5xl text-[#000000] text-center lg:text-left">
        Key Note Speakers
    </div>
    <div class="lg:flex xl:flex lg:scale-[0.80] xl:scale-100 pt-36 lg:pl-2 xl:pl-12 hidden md:hidden">
        <div class="group relative motion-safe:transform motion-safe:translate-y-0 motion-safe:hover:translate-y-24 transition duration-700 ease-in-out" data-cube="1">    
            {% call cube(dimen=200, bg="purple") -%}
                <div class="flex items-center justify-center w-full h-full">
                    <img src="{{ env.baseUrl }}img/speakers/katharinejarmul.png" alt="Katharine Jarmul" class="w-3/4 h-3/4 object-contain">
                </div>
            {%- endcall %}
            <p>Privacy Activist,</p>
            <p>Probably Private</p>
        </div>
        <div class="group relative motion-safe:transform motion-safe:hover:-translate-y-12 transition duration-700 ease-in-out motion-safe:translate-y-20 translate-x-0 ml-7 z-10" data-cube="2">
            {% call cube(dimen=200, bg="lime") -%}
                <div class="flex items-center justify-center w-full h-full">
                    <img src="{{ env.baseUrl }}img/logo.png" alt="PyCon India Logo" class="w-3/4 h-3/4 object-contain">
                </div>
            {%- endcall %}
            <p>Announcing Soon!</p>
        </div>
        <div class="group relative motion-safe:transform motion-safe:translate-y-0 motion-safe:hover:translate-y-12 transition duration-700 ease-in-out ml-7" data-cube="3">
            {% call cube(dimen=200, bg="purple") -%}
                <div class="flex items-center justify-center w-full h-full">
                    <img src="{{ env.baseUrl }}img/logo.png" alt="PyCon India Logo" class="w-3/4 h-3/4 object-contain">
                </div>
            {%- endcall %}
            <p>Announcing Soon!</p>
        </div>
        <div class="group relative motion-safe:transform motion-safe:hover:-translate-y-12 transition duration-700 ease-in-out motion-safe:translate-y-20 ml-7" data-cube="4">
            {% call cube(dimen=200, bg="lime") -%}
                <div class="flex items-center justify-center w-full h-full">
                    <img src="{{ env.baseUrl }}img/logo.png" alt="PyCon India Logo" class="w-3/4 h-3/4 object-contain">
                </div>
            {%- endcall %}
            <p>Announcing Soon!</p>
        </div>
    </div>
    <!-- Medium Devices -->
    <div class="md:flex flex-col pt-36 pb-20 pl-12 space-y-44 lg:hidden hidden">
        <div class="flex justify-start">
            <div class="group relative motion-safe:transform motion-safe:translate-y-0 motion-safe:hover:-translate-y-24 transition duration-700 ease-in-out">
                {% call cube(dimen=200, bg="purple") -%}
                    <div class="flex items-center justify-center w-full h-full">
                        <img src="{{ env.baseUrl }}img/speakers/katharinejarmul.png" alt="Katharine Jarmul" class="w-3/4 h-3/4 object-contain">
                    </div>
                {%- endcall %}
                <p>Privacy Activist, Probably Private</p>
            </div>
            <div class="group relative motion-safe:transform motion-safe:hover:translate-y-48 ml-28 transition duration-700 ease-in-out">
                {% call cube(dimen=200, bg="lime") -%}
                    <div class="flex items-center justify-center w-full h-full">
                        <img src="{{ env.baseUrl }}img/logo.png" alt="PyCon India Logo" class="w-3/4 h-3/4 object-contain">
                    </div>
                {%- endcall %}
                <p>Announcing Soon!</p>
            </div>
        </div>
        <div class="flex justify-start">
            <div class="group relative motion-safe:transform motion-safe:translate-y-0 motion-safe:hover:-translate-y-24 transition duration-700 ease-in-out">
                {% call cube(dimen=200, bg="purple") -%}
                    <div class="flex items-center justify-center w-full h-full">
                        <img src="{{ env.baseUrl }}img/logo.png" alt="PyCon India Logo" class="w-3/4 h-3/4 object-contain">
                    </div>
                {%- endcall %}
                <p>Announcing Soon!</p>
            </div>
            <div class="group relative motion-safe:transform motion-safe:hover:translate-y-48 ml-28 transition duration-700 ease-in-out">
                {% call cube(dimen=200, bg="lime") -%}
                    <div class="flex items-center justify-center w-full h-full">
                        <img src="{{ env.baseUrl }}img/logo.png" alt="PyCon India Logo" class="w-3/4 h-3/4 object-contain">
                    </div>
                {%- endcall %}
                <p>Announcing Soon!</p>
            </div>
        </div>
    </div>
    <!-- Small Devices -->
    <div class="flex flex-col space-y-20 px-4 pt-16 pb-16 items-center md:hidden">
        <div class="flex-shrink-0">
            <div class="group relative motion-safe:transform motion-safe:translate-y-0 motion-safe:hover:-translate-y-24 transition duration-700 ease-in-out" data-cube="1">    
                {% call cube(width=214, height=208, depth=31, bg="purple") -%}
                    <div class="flex items-center justify-center w-full h-full">
                        <img src="{{ env.baseUrl }}img/speakers/katharinejarmul.png" alt="Katharine Jarmul" class="w-3/4 h-3/4 object-contain">
                    </div>
                {%- endcall %}
               <p>Privacy Activist,</p>
               <p>Probably Private</p>
            </div>
        </div>
        <div class="flex-shrink-0">
            <div class="group relative motion-safe:transform motion-safe:translate-y-0 motion-safe:hover:-translate-y-24 transition duration-700 ease-in-out" data-cube="1">    
                {% call cube(width=214, height=208, depth=31, bg="purple") -%}
                    <div class="flex items-center justify-center w-full h-full">
                        <img src="{{ env.baseUrl }}img/logo.png" alt="Date background" class="w-3/4 h-3/4 object-contain">
                    </div>
                {%- endcall %}
                <p>Announcing Soon!</p>
            </div>
        </div>
        <div class="flex-shrink-0">
            <div class="group relative motion-safe:transform motion-safe:translate-y-0 motion-safe:hover:-translate-y-24 transition duration-700 ease-in-out" data-cube="1">    
                {% call cube(width=214, height=208, depth=31, bg="purple") -%}
                    <div class="flex items-center justify-center w-full h-full">
                        <img src="{{ env.baseUrl }}img/logo.png" alt="Date background" class="w-3/4 h-3/4 object-contain">
                    </div>
                {%- endcall %}
                <p>Announcing Soon!</p>
            </div>
        </div>
        <div class="flex-shrink-0">
            <div class="group relative motion-safe:transform motion-safe:translate-y-0 motion-safe:hover:-translate-y-24 transition duration-700 ease-in-out" data-cube="1">    
                {% call cube(width=214, height=208, depth=31, bg="purple") -%}
                    <div class="flex items-center justify-center w-full h-full">
                        <img src="{{ env.baseUrl }}img/logo.png" alt="Date background" class="w-3/4 h-3/4 object-contain">
                    </div>
                {%- endcall %}
                <p>Announcing Soon!</p>
            </div>
        </div>
    </div>
</section>
