{% set keynote_speakers = [
    {
        "name": "Katharine Jarmul",
        "image": "img/speakers/katharinejarmul.png",
        "alt": "Katharine Jarmul"
    },
    {
        "name": "Dawn Wages",
        "image": "img/speakers/dawnwages.png",
        "alt": "Dawn Wages"
    },
    {
        "name": "Reuven Lerner",
        "image": "img/speakers/reuvenlerner.png",
        "alt": "Reuven Lerner"
    },
    {
        "name": "Shakthi Kannan",
        "image": "img/speakers/shakthikannan.png",
        "alt": "Shakthi Kannan"
    }
] %}

<section class="relative bg-lavender text-black w-full pb-12 px-[6%] lg:pb-24" id="keynotes">
    <div class="black-han-sans-regular text-center lg:text-left pt-28 pb-8 md:pt-24 font-normal text-4xl lg:text-5xl text-[#000000]">
        Keynote Speakers
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-x-0 justify-items-center w-full">
        {% for speaker in keynote_speakers %}
        <div class="group relative transition duration-700 ease-in-out motion-safe:transform motion-safe:hover:-translate-y-6 md:motion-safe:hover:-translate-y-12">
            <img src="{{ env.baseUrl }}{{ speaker.image }}" 
                 alt="{{ speaker.alt }}" 
                 class="w-full max-w-xs aspect-square object-contain scale-75">
        </div>
        {% endfor %}
    </div>
</section>
