---
layout: base.njk
isFront: true
---

<header>
  {% set activePage = 'home' %}
</header>

<main class="flex-grow">
  {% include "landing/hero-banner.njk" %}
  {% include "landing/hero.njk" %}
  {% include "landing/keynotes.njk" %}
  {% include "landing/sponsors.njk" %}
  {% include "landing/x-wall.njk" %}
</main>