<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="refresh" content="0; url={{ env.baseUrl }}attend/tickets" />
    <link rel="canonical" href="{{ env.baseUrl }}attend/tickets" />
  </head>
</html>
